{% extends 'spotify_integration/base.html' %} {% block content %}
<h1>{{ album.name }}</h1>
<p><strong>Release Date:</strong> {{ album.release_date }}</p>

<h3>Artists</h3>
<ul class="list-group mb-4">
  {% for artist in artists %}
  <li class="list-group-item">
    {{ artist.name }}
    <a
      href="{% url 'artist_detail' artist.id %}"
      class="btn btn-sm btn-primary float-end"
      >View Artist</a
    >
  </li>
  {% endfor %}
</ul>

<h3>Songs</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Song</th>
      <th>Artists</th>
      <th>Popularity</th>
    </tr>
  </thead>
  <tbody>
    {% for song in songs %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        <a href="{% url 'song_detail' song.id %}">{{ song.name }}</a>
      </td>
      <td>{{ song.artists.all|join:", " }}</td>
      <td>{{ song.popularity }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
