{% extends 'spotify_integration/base.html' %} {% block content %}
<div class="text-center mt-5">
  <h1>Welcome to the Music App</h1>
  <p>Explore the world of Rap, Hip-Hop, and R&B music.</p>
  <div class="mt-4">
    <a href="{% url 'fetch_track' %}" class="btn btn-warning btn-lg"
      >Add song Form</a
    >
    <a href="{% url 'fetch_artist' %}" class="btn btn-warning btn-lg"
      >Add artist Form</a
    >
    <a href="{% url 'fetch_artist_albums' %}" class="btn btn-warning btn-lg"
      >Add artist's albums Form</a
    >
    <a href="{% url 'fetch_all_songs_from_an_artist' %}" class="btn btn-warning btn-lg"
      >Add all artist's songs Form</a
    >
  </div>
</div>
{% endblock %}
